<div class="container">
	<div class="row pt-3">
		<div class="col-6">
			<h4>Portal de Estudiante</h4>
		</div>
		<div class="col-6 text-end">
			<button class="btn btn-outline-success">Add new</button>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-6">Nombre de Estudiante</div>
						<div class="col-6 text-end">Numero de telefono</div>
					</div>
				</div>
				<div class="card-body">
					<p>Correo</p>
					<p>Ciudad, Municipio, Codigo de Area</p>
					<p>Direccion</p>
				</div>
				<div class="card-footer">Pendiente</div>
			</div>
		</div>
	</div>
</div>
